<div class="container p-3">
<h1>New Restaurant</h1>
  <%= simple_form_for @restaurant do |f| %>
    <%= f.input :name %>
    <%= f.input :category, collection: Restaurant::CATEGORIES, include_blank: false %>
    <%= f.input :address %>
    <%= f.input :phone_number %>
    <%= f.submit class: 'btn btn-warning mt-2' %>
  <% end %>
</div>
